@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Slab", serif;
}

.first-section{
    background-color: #1f2937;
    
}

.Header-logo{
    color: #f9faf8;
    font-size: 24px;
    margin-right: 235px;
}

.header-link{
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
}

.navbar{
    display: flex;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left ,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Hero-heading{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-right: 45px;
}

.signup-button-mc{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px #3882f6;
    border-radius: 15px;
    margin-right: 300px;
}

img{
    width: 500px;
    margin: 50px;
}

.content{
    display: flex;
    flex-direction: row;
}

.content-right{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.para-firstsec{
    font-size: 18px;
    color: #f9faf8;
    margin-left: 90px;
}


.Some-random-information{
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    text-align: center;
    margin: 2%;
}


.rowofBlueBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}
.Blueboxes{
    margin-left: 9px;
    border: #3882f6 4px solid;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    padding: 50px;
}

.message{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.third-section{
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    color: #1f2937;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-left: 20%;
}

#pthird{
    color: #1f2937;
    text-align: right;
    text-align: end;
    
}

.p-div{
    display: flex;
   font-size: 20px;
   margin-right: 350px;
   font-weight: 900;
   justify-content: flex-end;
}


.fourth-section{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bluecontainer{
    width: 75%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 15px;
    border: #3882f6;
}

h4{
    color: #f9faf8;
    font-size: 24px;
}

.para4{
    color: #e5e7eb;
    font-size: 18px;
}


.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.Button4{
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border: solid 3px white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    height: 100px;
}